<div class="row">
  <div class="col-md-12">
    <h2>Products</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    {{> shared/_search-and-sort settings=searchSettings}}
  </div>
</div>
<div class="row">
  {{#each products as |product|}}
    <div class="col-xs-12 col-sm-6 col-md-4">
      {{> products/_product-card product=product }}
    </div>
  {{/each}}
</div>