<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        {{product.[Category.name]}}
      </div>
      <div class="card-body">
        <h5 class="card-title">{{product.name}}</h5>
        <p class="card-text">{{product.description}}</p>
        <a href="#" class="btn btn-primary">Add to Cart</a>
      </div>
    </div>
  </div>    {{!--end col--}}
</div>    {{!--end row--}}

{{#each related as |relProduct|}}
  {{> products/_product-card product=relProduct.[Products] }}
{{/each}}



